<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/LayoutStyles.css" rel="stylesheet" type="text/css">
    <meta name="BasicLayout" content="width=device-width"/>
    <title>AdveChan</title>
</head>
<body>
<div class="PagesTop">
    <h1 align="center">
        <a href="/StartPage/ShowStartPage/">AdveChan</a>
    </h1>
    <br>Misc.[<a href="/Board/ShowThreads/1">b</a>/
    <a href="/Board/ShowThreads/2">ad</a>/
    <a href="/Board/ShowThreads/3">alco</a>/
    <a href="/Board/ShowThreads/4">rq</a>/
    <a href="/Board/ShowThreads/5">roll</a>/
    <a href="/Board/ShowThreads/6">lgbt</a>]
    creation[
    <a href="/Board/ShowThreads/7">mu</a>/
    <a href="/Board/ShowThreads/8">art</a>/
    <a href="/Board/ShowThreads/9">pht</a>/
    <a href="/Board/ShowThreads/10">wrk</a>
    ]
    Equipment'n'Software[
    <a href="/Board/ShowThreads/11">gd</a>/
    <a href="/Board/ShowThreads/12">hw</a>/
    <a href="/Board/ShowThreads/13">mob</a>/
    <a href="/Board/ShowThreads/14">pr</a>/
    <a href="/Board/ShowThreads/15">r</a>/
    <a href="/Board/ShowThreads/16">s</a>/
    <a href="/Board/ShowThreads/17">t</a>
    ]
    Games[
    <a href="/Board/ShowThreads/18">bg</a>/
    <a href="/Board/ShowThreads/19">sos</a>/
    <a href="/Board/ShowThreads/20">mmo</a>/
    <a href="/Board/ShowThreads/21">moba</a>/
    <a href="/Board/ShowThreads/22">tes</a>/
    <a href="/Board/ShowThreads/23">vd</a>/
    <a href="/Board/ShowThreads/24">wr</a>
    ]
    <br>
    Japaneese[
    <a href="/Board/ShowThreads/25">a</a>/
    <a href="/Board/ShowThreads/26">fd</a>/
    <a href="/Board/ShowThreads/27">jc</a>/
    <a href="/Board/ShowThreads/28">mg</a>/
    <a href="/Board/ShowThreads/29">vn</a>/
    <a href="/Board/ShowThreads/30">ln</a>
    ]
    Adult(18+)[
    <a href="/Board/ShowThreads/31">fg</a>/
    <a href="/Board/ShowThreads/32">fr</a>/
    <a href="/Board/ShowThreads/33">g</a>/
    <a href="/Board/ShowThreads/34">ga</a>/
    <a href="/Board/ShowThreads/35">hc</a>/
    <a href="/Board/ShowThreads/37">sex</a>/
    <a href="/Board/ShowThreads/38">fag</a>/
    <a href="/Board/ShowThreads/41">gif</a>/
    <a href="/Board/ShowThreads/42">hnt</a>
    ]
    Intrests[
    <a href="/Board/ShowThreads/43">au</a>/
    <a href="/Board/ShowThreads/44">bi</a>/
    <a href="/Board/ShowThreads/45">biz</a>/
    <a href="/Board/ShowThreads/46">com</a>/
    <a href="/Board/ShowThreads/47">adv</a>/
    <a href="/Board/ShowThreads/48">fa</a>/
    <a href="/Board/ShowThreads/49">fiz</a>/
    <a href="/Board/ShowThreads/50">fl</a>/
    <a href="/Board/ShowThreads/51">foot</a>/
    <a href="/Board/ShowThreads/52">his</a>/
    <a href="/Board/ShowThreads/53">med</a>/
    <a href="/Board/ShowThreads/54">mag</a>/
    <a href="/Board/ShowThreads/55">mb</a>/
    <a href="/Board/ShowThreads/56">mus</a>/
    <a href="/Board/ShowThreads/57">p</a>/
    <a href="/Board/ShowThreads/58">fil</a>/
    <a href="/Board/ShowThreads/59">psy</a>/
    <a href="/Board/ShowThreads/60">sci</a>/
    <a href="/Board/ShowThreads/61">sf</a>/
    <a href="/Board/ShowThreads/62">crp</a>/
    <a href="/Board/ShowThreads/63">spr</a>/
    <a href="/Board/ShowThreads/64">spa</a>/
    <a href="/Board/ShowThreads/65">ser</a>/
    <a href="/Board/ShowThreads/66">ed</a>/
    <a href="/Board/ShowThreads/67">w</a>/
    <a href="/Board/ShowThreads/68">wape</a>/
    <a href="/Board/ShowThreads/69">mlp</a>
    ]
    @RenderBody()
</div>
</body>
</html>