div.text {
    background: whitesmoke;
    margin-left: 250px;
    margin-right: 500px;
    border: 1px solid black;
    font-size: 120%;
    padding: 5px;
}
div.lnks {
    background: whitesmoke;
    margin-left: 250px;
    margin-right: 500px;
    border: 1px solid black;
    font-size: 110%;
    padding: 5px;
}
table.links {
    border-spacing: 50px 3px;
}
