<!DOCTYPE html>
<html>
<head>
    <meta name="BasicLayout" content="width=device-width" />
    <title>AdveChan</title>
</head>
<body>
    <div class="PagesTop" >
        <h1><a href="/StartPage/ShowStartPage/">AdveChan</a>
        </h1>
        <br>Misc.[/<a href="/Board/ShowThreads/1">b</a>/
        <a href="/Board/ShowThreads/2">ad</a>/
        <a href="/Board/ShowThreads/3">alco</a>/
        <a href="/Board/ShowThreads/4">rq</a>/
        <a href="/Board/ShowThreads/5">roll</a>/
        <a href="/Board/ShowThreads/6">lgbt</a>/]
        creation[
        <a href="/Board/ShowThreads/7">mu</a>/
        <a href="/Board/ShowThreads/8">art</a>/
        <a href="/Board/ShowThreads/9">pht</a>/
        <a href="/Board/ShowThreads/10">wrk</a>/
        ]
        Equipment'n'Software[
        <a href="/Board/ShowThreads/11">gd</a>/
        <a href="/Board/ShowThreads/12">hw</a>/
        <a href="/Board/ShowThreads/13">mob</a>/
        <a href="/Board/ShowThreads/14">pr</a>/
        <a href="/Board/ShowThreads/15">r</a>/
        <a href="/Board/ShowThreads/16">s</a>/
        <a href="/Board/ShowThreads/17">t</a>/
        ]
        Games[
        <a href="/Board/ShowThreads/18">bg</a>/
        <a href="/Board/ShowThreads/19">sos</a>/
        <a href="/Board/ShowThreads/20">mmo</a>/
        <a href="/Board/ShowThreads/21">moba</a>/
        <a href="/Board/ShowThreads/22">tes</a>/
        <a href="/Board/ShowThreads/23">vd</a>/
        <a href="/Board/ShowThreads/24">wr</a>/
        ]
        <br>
        Japaneese[
        <a href="/Board/ShowThreads/25">a</a>/
        <a href="/Board/ShowThreads/26">fd</a>/
        <a href="/Board/ShowThreads/27">jc</a>/
        <a href="/Board/ShowThreads/28">mg</a>/
        <a href="/Board/ShowThreads/29">vn</a>/
        ]
        Adult(18+)[
        <a href="/Board/ShowThreads/30">fg</a>/
        <a href="/Board/ShowThreads/31">fr</a>/
        <a href="/Board/ShowThreads/32">g</a>/
        <a href="/Board/ShowThreads/33">ga</a>/
        <a href="/Board/ShowThreads/34">hc</a>/
        <a href="/Board/ShowThreads/35">ex</a>/
        <a href="/Board/ShowThreads/36">sex</a>/
        <a href="/Board/ShowThreads/37">fag</a>/
        <a href="/Board/ShowThreads/38">guro</a>/
        <a href="/Board/ShowThreads/39">cp</a>/
        <a href="/Board/ShowThreads/40">gif</a>/
        <a href="/Board/ShowThreads/41">hnt</a>/  
        ]
        Intrests[
        <a href="/Board/ShowThreads/42">au</a>/
        <a href="/Board/ShowThreads/43">bi</a>/
        <a href="/Board/ShowThreads/44">biz</a>/
        <a href="/Board/ShowThreads/45">com</a>/
        <a href="/Board/ShowThreads/46">adv</a>/
        <a href="/Board/ShowThreads/47">fa</a>/
        <a href="/Board/ShowThreads/48">fiz</a>/
        <a href="/Board/ShowThreads/49">fl</a>/
        <a href="/Board/ShowThreads/50">foot</a>/
        <a href="/Board/ShowThreads/51">his</a>/
        <a href="/Board/ShowThreads/52">med</a>/
        <a href="/Board/ShowThreads/53">mag</a>/
        <a href="/Board/ShowThreads/54">mb</a>/
        <a href="/Board/ShowThreads/55">mus</a>/
        <a href="/Board/ShowThreads/56">p</a>/
        <a href="/Board/ShowThreads/57">fil</a>/
        <a href="/Board/ShowThreads/58">psy</a>/
        <a href="/Board/ShowThreads/59">sci</a>/
        <a href="/Board/ShowThreads/60">sf</a>/
        <a href="/Board/ShowThreads/61">crp</a>/
        <a href="/Board/ShowThreads/62">spr</a>/
        <a href="/Board/ShowThreads/63">spa</a>/
        <a href="/Board/ShowThreads/64">ser</a>/
        <a href="/Board/ShowThreads/65">ed</a>/
        <a href="/Board/ShowThreads/66">w</a>/
        <a href="/Board/ShowThreads/67">mil</a>/
        <a href="/Board/ShowThreads/68">wape</a>/                   
        ]
    @RenderBody()
</div>
</body>
</html>
