@using MVC_Chat.Models
@model ChatModel
<div id="RefreshArea">
    @{
        Html.RenderPartial("History", Model);
    }
</div>

@Ajax.ActionLink("ActionLink", "Index", new { member = "", logOn = "", logOff = "", chatMessage = "" },
new AjaxOptions { UpdateTargetId = "RefreshArea", OnSuccess = "ChatOnSuccess", OnFailure = "ChatOnFailure" },
new { @id = "ActionLink", @style = "visibility:hidden;" })

<div id="inputForm">
    <table>
        <tr>
            <td rowspan="2"><textarea id="txtMessage" rows="3"></textarea></td>
            <td><button id="btnMessage" value="Send">Send</button></td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("Index", "Home"))
                {
                    <button >Log Out</button>
                }
            </td>
        </tr>
    </table>
</div>
