@model MVC_Chat.Models.User
@{
    ViewBag.Title = "Thanks";
}
<div>
    <h1>Thank you for registration, @Model.Nickname</h1>
    @using (Html.BeginForm("Index", "Home"))
    {
        <p><button>Back to authorization</button></p>
    }
</div>


