@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Entering", "Check", FormMethod.Post))
    {
        <p>Input your login: </p>
        @Html.TextBox("login", "Login")
        <p>Input your password: </p>
        @Html.Password("password","Password")
        <p></p>
        <button name="action" value="Entering">Enter</button>
        <button name="action" value="Registration">Registration</button>
    }
</div>



