@using System.Web.UI.HtmlControls
@model AdveChan.Models.Admin
<link href="@Url.Content("~/Content/StartPage.css")" rel="stylesheet" type="text/css">
@{
    ViewBag.Title = "ShowStartPage";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<br>
<br>
<div class="text">
    <p>
        AdveChan is a simple image-based bulletin board where anyone can post comments and share images.
        <br>There are boards dedicated to a variety of topics, from Japanese animation and culture to videogames, music, and photography.
        <br> Users do not need to register an account before participating in the community.
        <br> Feel free to click on a board below that interests you and jump right in!
    </p>
</div>
<div class="lnks">
<br> <table class="links">
    <tr>
        <td>Intrests</td><td class="rightcol">Misc.</td><td>Japaneese culture</td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/43">Auto</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/1">Trash</a>
        </td><td>
            <a href="/Board/ShowThreads/25">Anime</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/44">Bicycles</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/2">Adventures</a>
        </td><td>
            <a href="/Board/ShowThreads/26">Fandom</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/45">Buisness</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/3">Alcohol</a>
        </td><td>
            <a href="/Board/ShowThreads/27">Japaneese culture</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/46">Comics</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/4">Requests</a>
        </td><td>
            <a href="/Board/ShowThreads/28">Manga</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/47">Tourism</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/5">Rolling</a>
        </td><td>
            <a href="/Board/ShowThreads/29">Visual novels</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/48">Fashion</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/6">LGBT</a>
        </td><td>
            <a href="/Board/ShowThreads/30">Renobe</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/49">Fitness</a>
        </td><td class="rightcol">Creation</td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/50">Foreign languages</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/7">Music</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/51">Football</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/8">Art</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/52">History</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/9">Photo</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/53">Medecine</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/10">Work</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/54">Magic</a>
        </td><td class="rightcol">Hard'n'Software</td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/55">Motorbikes</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/11">GameDev</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/56">Music tastes</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/12">HardWare</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/57">Animals and eviornment</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/13">Mobiles</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/58">Movies</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/14">Programming</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/59">Psyco</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/15">RadioTech</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/60">Science</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/16">Soft</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/61">ScienceFiction</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/17">Tech</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/62">Creepy</a>
        </td><td class="rightcol">Games</td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/63">Sport</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/18">TableGames</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/64">Space</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/19">Consoles</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/65">TV</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/20">MMO</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/66">Education</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/21">MOBA</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/67">Weapons</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/22">TES</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/68">Wape</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/23">VideoGames</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Board/ShowThreads/69">My Little Pony</a>
        </td><td class="rightcol">
            <a href="/Board/ShowThreads/24">WrittenRPG</a>
        </td>
    </tr>
</table>
</div>
@using (Html.BeginForm("LogIn", "StartPage", FormMethod.Post))
{
    <br>
    <p>
        Login:<input type="text" name="Login">Password:<input type="text" name="Password"><input type="submit" value="Sign in"><a href="/StartPage/LogOff">Sign Out</a>
    </p>
}